
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.custom-toast-container{
  font-size: .9rem !important;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 80vw !important;
    padding: 0 !important;
    left: initial !important;
    margin: 0 !important;
  }
    .Toastify__toast {
    margin-bottom: .5rem !important;
    border-radius: 0 !important;
  }
}



@media (min-width: 576px) and (max-width: 767px) {
  .custom-toast-container{
      font-size: .9rem !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px){
  .custom-toast-container{
      font-size: .9rem !important;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px){
  .custom-toast-container{
      font-size: .9rem !important;
  }
  
}
@media (min-width: 1200px){
  .custom-toast-container{
      font-size: .9rem !important;
  }
}